<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
      integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <header>
      <div class="topHead">
        <div class="logo">
          <img
            class="imglogo"
            src="./img/logo-mercado-liebre.svg"
            alt="Mercado Liebre"
          />
        </div>
        <div class="search">
          <form>
            <input type="search" placeholder="Buscar Productos, marcas" />
            <i class="fas fa-search lupa"></i>
          </form>
        </div>
        <div class="slogan">
          <h2>
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
          </h2>
        </div>
      </div>
      <div class="burgerMenu">
        <i class="fas fa-bars"></i>
      </div>
      <nav class="navBar">
        <ul class="left-navBar">
          <li>
            <a href="#">Ofertas</a>
          </li>
          <li>
            <a href="#">Tiendas Oficiales</a>
          </li>
          <li>
            <a href="#">Vender</a>
          </li>
          <li>
            <a href="#">Ayuda</a>
          </li>
        </ul>
        <ul class="right-navBar">
          <li>
            <a href="./register"
              >Crea tu cuenta <i class="far fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="./ingresa">Ingresa <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- Formulario de registro -->
      <div class="registro">
        <form action="/" method="GET" class="loginForm">
          <label for="user"
            >Ingrese su usuario
            <input type="text" name="user" id="user" class="bloque" />
          </label>
          <br />
          <label for="clave"
            >Repita su contraseña
            <input type="password" name="clave" id="clave" class="bloque" />
          </label>
          <br />
          <br />
          <button class="loginBtn" type="submit">Enviar</button>
        </form>
      </div>
    </main>
    <footer>
      <div class="footer">
        <div class="footerItem">
          <i class="fas fa-credit-card"></i>
          <h3>Pagá con tarjeta o efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div class="footerItem">
          <i class="fas fa-gift"></i>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div class="footerItem">
          <i class="fas fa-user-shield"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
      </div>
      <h5 class="copy">Copyright © 1999-2022 MercadoLiebre S.R.L.</h5>
    </footer>
  </body>
</html>
