* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
}

header {
  background-color: #eac926;
  padding-bottom: 5px;
}
.topHead {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

.slogan {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}
.slogan h2,
div.search form input {
  font-size: 14px;
}

header div.logo,
header div.search {
  width: 50%;
}

header div.logo {
  padding: 10px;
}

header div.search {
  display: flex;
  align-items: center;
  padding: 2px;
}

header nav {
  font-size: 12px;
  margin-left: 20px;
}

header ul {
  margin-bottom: 15px;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
}

header nav.navBar {
  display: none;
}

div.burgerMenu {
  text-align: center;
}

div.burgerMenu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

div.lastVisit,
div.offers {
  display: flex;
  flex-wrap: wrap;
}

.price {
  font-size: 18px;
  width: 30%;
}

.discount {
  width: 70%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
}

.description {
  display: none;
  margin-top: 20px;
}
main section article:hover .description {
  display: block;
}

section.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

main section article {
  background-color: #fff;
  margin: 10px 0px;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

main section h3 {
  margin: 20px 0px;
}

article div.mainArticle {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}

div.footer {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
footer div.footer {
  display: flex;
  flex-direction: column;
}

div.footer i {
  font-size: 2em;
  color: #0044aa;
}
div.footer i:hover {
  color: #39b54a;
}

.footerItem {
  text-align: center;
  margin-top: 20px;
}

.copy {
  margin-left: 20px;
  margin-bottom: 20px;
}

.createForm,
.loginForm {
  padding: 20px 15px;
}
.createForm input,
.loginForm input {
  border: 2px solid #0044aa;
  border-radius: 2px;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bloque {
  display: block;
  width: 100%;
}
div.btns {
  display: flex;
  justify-content: space-around;
}
.createForm button {
  background-color: #0044aa;
  color: white;
  padding: 10px;
  width: 40%;
  border-radius: 5px;
  font-size: 16px;
}
.loginForm button {
  background-color: #0044aa;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}
.loginForm button:hover {
  background-color: #0022aa;
}
@media (min-width: 361px) {
  .slogan h2,
  div.search form input {
    font-size: 16px;
  }

  header nav.navBar {
    display: flex;
    justify-content: space-between;
  }
  header nav.navBar ul {
    display: flex;
    justify-content: space-between;
  }
  header nav.navBar li {
    margin: 0 5px;
  }
  div.burgerMenu {
    display: none;
  }

  main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  main section div.products article {
    width: 45%;
  }
  main section div.products article i {
    transition: 1s;
  }
  main section div.products article:hover i {
    transform: rotate(-90deg);
  }

  .price,
  .discount {
    width: 50%;
  }

  footer div.footer {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 769px) {
  header div.logo,
  header div.search,
  header div.slogan {
    width: 30%;
  }
  header div.slogan{
    text-align: right;
  }

  main section div.products article {
    width: 22%;
  }
  .navBar {
    font-size: 16px;
  }
  .slogan h2,
  div.search form input {
    font-size: 18px;
  }
}
@media (min-width: 1201px) {
  .topHead,
  .navBar {
    margin: auto;
    max-width: 1200px;
  }
  section,
  footer {
    max-width: 1200px;
    margin: auto;
  }
  .navBar {
    font-size: 18px;
  }
}
