/* Paleta de colores
Amarillo: #EAC926; 
Azul: #03264C; 
Celeste: #1259c3; 
Gris oscuro: #666; 
Gris claro: #ebebeb; 
Verde: #39b54a;

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px 
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
}
h3{
  font-size: 24px;
}

p{
  font-size: 12px;
}

div.topHead{
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

header div.topHead p{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

header div.slogan p{
  display: inline;
}
header div.slogan{
text-align: center;}


header {
  background-color: #eac926;
}
header div.logo,
header .search{
    width: 50%;
}

header div.logo{
  padding: 10px;
}
header .search{
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 14 px;
}
header nav{
  font-size: 12px;
  margin-left: 20px;
}
header ul{
  margin-bottom: 15px;
}

header ul li{
  list-style-type: none;
}

header ul li a{
  text-decoration: none;
  color: #000;
}
/* header .search .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
} */

/* header .search .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
} */

header nav.navBar {
  display: none;
}

div.burgerMenu{
  text-align: center;
}

div.burgerMenu i{
  background-color: #0044AA;
  border-radius: 5px;
  color: #FFF;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

div.lastVisit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}
.price{
  font-size: 18px;
  width: 30%;
}

.discount{
  width: 70%;
}

.discount,
.description{
  font-size: 16px;
  font-weight: normal;
}

h3,
.description{
  color: #666;
}

.description{
  display: none;
  margin-top: 20px;
}

section.banner img{
  width: 100%;
}

main{
  width: 90%;
  margin: 0 auto;
}

main section article{
  background-color: #fff;    
  margin: 10px 0px;
}

main section article img{
  width: 100%;
}

main section article i,
.discount{
  color: #39b54a;
}

main section article i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

main section h3{
  margin: 20px 0px;
}

article div.mainArticle{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}


footer .footer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
div.footer i{
  font-size: 2em;
  color: #0044AA;
}
.footerItem{
  text-align: center;
  margin-top: 20px;
}

.copy{
  margin-left: 20px;
  margin-bottom: 20px;
}
@media (min-width: 361px){
  main section article .description{
      display: block;
  }
 header nav.navBar {
   display: block;
 }

 div.burgerMenu {
   display: none;
 }


  main section article{
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
  }

  main section div.products article{
      width: 45%;
  }

  .price,
  .discount{
      width: 50%;
  }
}

@media (min-width: 769px){
  main section div.products article{
      width: 22%;
  }
}